name: Build Mod
on:
  push:
    branches: [main]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
    - uses: gradle/actions/setup-gradle@v3
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Grant execute permission for wrapper JAR
      run: chmod +x gradle/wrapper/gradle-wrapper.jar
    - name: Build with Gradle
      run: ./gradlew build
    - name: Upload Mod Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ArabicFontFix-Build
        path: build/libs/*.jar
        retention-days: 7
