name: Build Mod
on:
  push:
    branches: [main]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
    - uses: gradle/actions/setup-gradle@v3
    - name: Build with Gradle
      run: ./gradlew build
    - name: List Final JARs
      run: ls -lh build/libs/
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ArabicFontFix-Mod-Jar
        path: |
          build/libs/*.jar
          build/libs/*.fabric.jar
          build/libs/*.forge.jar
          build/libs/*.mod.jar
          build/libs/*-dev.jar 
        retention-days: 7
